<% include ../include/header.ejs %>
    <style>
        ul>li {
            display: inline;
            margin-left: 5px;
        }
        .reply{
            text-align: right;
            padding-right: 20px;
            box-sizing: border-box;
        }
        .reply span{
            color: darkgrey;
            padding-right: 10px;
        }
    </style>
    <div class="jumbotron" conId="<%= content._id %>">
        <h1>
            <%= content.title %>
        </h1>
        <ul>
            <li>作者：
                <%= content.author %>
            </li>
            <li>访问量：
                <%= content.pv %>
            </li>
            <li>时间：
                <%= moment(content.meta.updateAt).format('lll') %>
            </li>
        </ul>
        <p>
            <%= content.desc %>
        </p>
        <p>
            <%= content.content %>
        </p>
    </div>
    <div class=" col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">评论区</h3>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <% if( comment.length> 0) { %>
                        <% comment.forEach(function(com) { %>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img style="width:80px;" class="media-left" src="/images\page\lostHead.jpg" alt="lostHead">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><%= com.from %></h4>
                                    <p><%= com.txt %></p>
                                    <p class="reply">
                                        <span><%= moment(com.meta.createAt).format('lll') %></span>
                                        <a data-cid="<%= com._id %>" data-tid="<%= com.from %>" href="#form">回复</a>
                                    </p>
                                    <hr>
                                    <% if( com.reply  ){ %>
                                        <% com.reply.forEach(function(comReply){ %>
                                            <div class="media">
                                                <div class="media-left media-middle">
                                                    <a href="#">
                                                        <img style="width:80px;" class="media-left" src="/images\page\lostHead.jpg" alt="...">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                            <%= comReply.from %> &nbsp<small class="text-info">回复</small>&nbsp <%= comReply.to %>
                                                    </h4>
                                                    <p><%= comReply.txt %></p>
                                                    <p class="reply">
                                                        <span><%= moment(com.meta.createAt).format('lll') %></span>
                                                        <a data-cid="<%= com._id %>" data-tid="<%= com.reply.from %>" href="#form">回复</a>
                                                    </p>
                                                    <hr>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } %>
                                </div>
                            </li>
                            <hr>
                        <% }) %>
                        <div class="alert alert-info" style="text-align:center;" role="alert"><a href="#">加载更多</a></div>
                    <% }else{ %>
                        <p>快来抢沙发</p>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">发表评论</div>
            <div class="panel-body">
                <form id="form" action="/api/commentAdd" method="post">
                    <input type="hidden" name="comment[content]" value="<%= content._id %>">
                    <div class="form-group">
                        <label for="txt" class=" control-label">内容 *</label>
                        <textarea required rows="3" class="form-control" name="comment[txt]" id="txt" placeholder="请输入内容"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="username" class=" control-label">姓名 *</label>
                        <input type="text" class="form-control" name="comment[from]" id="username" placeholder="姓名" required="required">
                    </div>
                    <div class="form-group">
                        <label for="email" class=" control-label">电子邮件 *</label>
                        <input type="email" class="form-control" name="comment[email]" id="email" placeholder="email" required="required">
                    </div>
                    <div class="btnCenter">
                        <input type="submit" class="submit btn btn-success" value="提交"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('.reply a').click(function(){
            var cid = $(this).data('cid');
            var tid = $(this).data('tid');

            if ($('#toId').length > 0) {
                $('#toId').val(tid);
            }else{
                var input = $('<input type="hidden" id="toId" name="comment[tid]" value="'+tid+'" >')
                $('#form').append(input);
            }

            if ($('#commentId').length > 0) {
                $('#commentId').val(cid);
            } else {
                var _input = $('<input type="hidden" id="commentId" name="comment[cid]" value="'+cid+'" >')
                $('#form').append(_input);
            }
        })

        // $('.submit').click(function(){
        //     var formData = $('form').serialize();
        //     $.ajax({
        //         type: 'post',
        //         url: '/api/commentAdd',
        //         data: formData,
        //         dataType: 'json',
        //         success: function(data){
        //             console.log(data);

        //         }
        //     })
        // })

        // $.ajax({
        //     type: 'get',
        //     url: '/api/content/'+ $('.jumbotron').attr('.conId'),
        //     dateType: 'json',
        //     success: function(data){

        //     }
        // })
    </script>

    <script src="/libs/AniJS/dist/anijs.js"></script>
    <% include ../include/footer.ejs %>